*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 100px 100px;
    background-color: rgb(226, 226, 226);
    color: black;
}
.top{
    margin-bottom: 15px;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    width: 1400px;
}
.list-items{
    background-color: rgb(187, 187, 176);
    width: 300px;
    height: 100%;
    margin-top: 20px;
    transition: 2s;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.list-items:hover{
    transform: scale(1.2);
    transition: 2s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/*making the menu blurry and transparent a little bit*/
/*.menu{
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
}*/

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: fixed;
    top: 0;
    height: 90px;
    left: 0;
    right: 0;
    background-color: #3b945e;
    background: rgb(226, 226, 226, 0.35);
    backdrop-filter: blur(10px);
    z-index: 100;
}
.price .cart-btn{
    background-color: black;
    width: 100px;
    padding: 0;
    margin-bottom: 10px;
}
.logo h1{
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(187, 187, 176);
}
.nav,.logo b{
    color: black;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.food-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.food-title p{
    opacity: 0;
    transition: opacity 2s;
    transform: scale(1.2);
}
.list-items:hover .food-title p{
    opacity: 1;
    transform: scale(1.2);
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    transition: 1s;
}
.nav ul li a:hover{
    font-size: 25px;
    transform: scale(1.2);
}
/*.nav ul .active::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    
}*/
.nav ul .menu::after:hover{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    opacity: 2;
}
input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.signin{
    background: transparent;
    border: none;
}
.signup{
    background-color: black;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.grid{
    display: flex;
    justify-content: flex-end; /* move the grid to the end */
    align-items: center; /* center the grid vertically */
    height: 100%; /* set a height for demonstration purposes */
    /*background-color: #f0f0f0;  add a background color for demonstration purposes */
}
.content{
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content .content-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;

}
.content .content-left .info p{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}
.content .content-left button{
    padding: 10px 23px;
    background-color: #131311;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.content .content-left button a{
    text-decoration: none;
    color: #ffffff;
}
.content .content-right{
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.content .content-right video{
    width: 500px;
    height: 440px;
    user-select: none;
    position: relative;
    animation: rotate 10s linear infinite;
    
}
.user-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 3px;
    border: 2px;
    border-color: black;
}
.user-image img{
    border-radius: 3px;
    border: 2px;
    border-color: black;
}
.signin-input{
    text-decoration: none;
}
.card-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-img{
    width: 250px;
    border-radius: 15px;
    
    
}


.price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.content-food{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content-food:hover{
    opacity: 1;
}
.content-food{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}